{% extends "base_generic.html" %}

{% block title %}
<title>About Info</title>
{% endblock %}

{% block content %}

    {% if about_info %}
        <h2>{{about_info.header}}</h2>
        {% if about_info.logo %}
            <img src='{{about_info.logo.url}}' alt="Company's logo" style="max-width: 300px;"/>
        {% else %}
            <img src='/media/default_about_logo.png' alt="Company's default logo" style="max-width: 300px;"/>
        {% endif %}
        <p>{{about_info.info}}</p>
        <ul>Created: {{about_info.created_at|date:"d/m/Y H:i"}}</ul>
        <ul>Updated: {{about_info.updated_at|date:"d/m/Y H:i"}}</ul>
    {% else %}
        <h2>No info about company</h2>
    {% endif %}

{% endblock %}