{% extends "base_generic.html" %}

{% block title %}
<title>Toy Factory</title>

{% endblock %}

{% block content %}

  <p>Welcome to <em>Toy Factory</em>, a very basic Django website developed as a part of labwork series of IGI course.</p>

  <h2>Dynamic content</h2>

  {% if user.is_superuser %}

    <h2>I am Overlord {{perms.ToyFactory}}</h2>

  {% else %}
    
    {% if perms.ToyFactory.client_perm %}

      <h2>Hello, dear client! {{perms.ToyFactory}}</h2>
    
    {% endif %}

    {% if perms.ToyFactory.employee_perm %}

      <h2>Hello, my dear friend! {{perms.ToyFactory}}</h2>
        
    {% endif %}

  {% endif %}

{% endblock %}