{% extends "base_generic.html" %}

{% block title %}
<title>Contacts</title>
{% endblock %}

{% block content %}

    {% if employee %}
        <h1>{{employee.display_username}}</h1>
        {% if employee.image %}
            <img src='{{employee.image.url}}' alt="Employee icon" style="max-width: 300px;"/>
        {% else %}
            <img src='/media/default_employee_logo.png' alt="Employee icon" style="max-width: 300px;"/>
        {% endif %}
        <p>Info: {{employee.info}}</p>
        <p>Phone: {{employee.phone}}</p>
        <p>Email: {{employee.display_email}}</p>
    {% else %}
        <h2>No info for this employee</h2>
    {% endif %}

{% endblock %}