{% extends "base_generic.html" %}

{% block title %}
<title>Contacts</title>
{% endblock %}

{% block content %}
    <h1>Contacts</h1>

    {% if employee_list %}
    <ul>

      {% for employee in employee_list %}
        <li>
          <img src="{{ employee.get_avatar_url }}" alt="Employee icon" style="max-width: 200px; max-height: 200px; border-radius: 20%;"/>
          <a href="{{ employee.get_absolute_url }}">{{ employee.display_username }}</a> ({{employee.display_email}})
          <br>
        </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no contacts available.</p>
    {% endif %}
{% endblock %}