{% extends "base_generic.html" %}

{% block title %}
<title>Products</title>
{% endblock %}

{% block content %}
  {% if perms.ToyFactory.employee_perm %}
    <form method="get" action="{% url 'product-create' %}">
            {% csrf_token %}
            <button type="submit">Create Product</button>
    </form>
  {% endif %}

  {% if product_list %}
    {% for product in product_list %}
      {% if product.status == 'a' %}
        <a href="{{product.get_absolute_url}}"><h1>{{product.name}}</h1></a>
        <p>Type: {{product.display_product_type}}</p>
        <p>Price: {{product.price}}</p>
      {% else %}
        {% if perms.ToyFactory.employee_perm %}
          <a href="{{product.get_absolute_url}}"><h1>{{product.name}} (DISCONTINUED)</h1></a>
          <p>Price: {{product.price}}</p>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% else %}
      <h2>No info for products</h2>
  {% endif %}

{% endblock %}