{% extends "base_generic.html" %}

{% block title %}
<title>Products</title>
{% endblock %}

{% block content %}

    {% if product %}
      {% if product.status == 'a' %}
        <h1>{{product.name}}</h1>
        <p>Type: {{product.display_product_type}}</p>
        <p>Model: {{product.product_model}}</p>
        <p>Status: available</p>
        <p>Price: {{product.price}}</p>
      {% else %}
        {% if perms.ToyFactory.employee_perm %}
          <h1>{{product.name}} (DISCONTINUED)</h1>
          <p>Type: {{product.display_product_type}}</p>
          <p>Model: {{product.product_model}}</p>
          <p>Status: discontinued</p>
          <p>Price: {{product.price}}</p>
        {% endif %}
      {% endif %}

      {% if perms.ToyFactory.employee_perm %}
        <form method="get" action="{% url 'product-update' product.pk %}">
          {% csrf_token %}
          <button type="submit">Update</button>
        </form>
        <form method="get" action="{% url 'product-delete' product.pk %}">
          {% csrf_token %}
          <button type="submit">Delete</button>
        </form>
      {% endif %}
    {% else %}
        <h2>No info for product</h2>
    {% endif %}

{% endblock %}