{% extends "base_generic.html" %}

{% block content %}
    <h1>Promos</h1>

    {% if promo_list %}
    <ul>

      {% for promo in promo_list %}
        {% if promo.is_active %}
            <li>
                <a href="{{ promo.get_absolute_url }}">{{ promo.info }}</a> ({{promo.get_product_name}})
                <ul>Created: {{promo.created_at|date:"d/m/Y H:i"}}</ul>
                <ul>Updated: {{promo.updated_at|date:"d/m/Y H:i"}}</ul>
                <br>
            </li>
        {% endif %}
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no promos available.</p>
    {% endif %}
{% endblock %}